<% provide(:title, "Contact") %>

<div id="contact" class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h3>Sample App</h3>
    <p>
      Contact the Ruby on Rails Tutorial at the
      <a href="https://www.railstutorial.org/contact">contact page</a>.
    </p>
  </div>
</div>
