<li class='user-short-card'>
  <%= gravatar_for user, size: 50 %>
  <div>
    <h3><%= link_to user.name, user, class: 'link-hover' %></h3>
    <div class='delete'>
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure ?" } %>
      <% end %>
    </div>
  </div>
</li>
