<li class='user-short-card'>
  <%= gravatar_for user, size: 50 %>
  <div>
    <h3><%= link_to user.name, user %></h3>
    <div class='delete'>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, method: :delete, data: { confirm: "You sure ?" } %>
  </div>
  <% end %>
</div>
</li>
