<% provide(:title, 'Followers') %>

<div class="row pt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3>Followed</h3>
        <%#= will_paginate @users, class: 'pagination' %>

    <ul id="users-list" class="users">
      <%= render @users %>
    </ul>
        <%#= will_paginate @users, class: 'pagination' %>

  </div>
  <div class="col-md-4"></div>
</div>
