<% provide(:title, 'All users') %>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <h3>All users</h3>
    <%= will_paginate @users, class: 'pagination' %>

    <ul id="users-list" class="users my-3">
          <%= render @users %>
    </ul>

    <%= will_paginate @users, class: 'pagination' %>

  </div>
  <div class="col-md-4"></div>
</div>


