<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="users">
      <% @users.each do |user| %>
      <h1>
        <%= gravatar_for user%>
        Name: <%= user.name %></br>
        Email: <%= user.email %></section>br>
      </h1>
    </section>
  </aside>
</div>
