<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>Sign up</h1>

    <%= render 'form', user: @user %>

  </div>
  <div class="col-md-4">
  </div>
</div>


