<div class="micropost-form">
  <h3>What's up doc ?</h3>

  <%= simple_form_for(@micropost) do |f| %> <!-- @micropost est la liste des microposts de l'user -->
    <%#= render 'shared/error_messages', object: f.object %>
    <%= f.input :content,
            class: 'form_control',
            label: false, placeholder: 'Compose new micropost, add a photo...' %>
    <%= f.submit "Save post", class: "btn" %>

    <div class="image">
      <%= f.input :photo, as: :file, label: false %>
    </div>

  <% end %>
</div>

