// Place all the styles related to the microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* microposts */
$link-hovered: blue;

.microposts {
  list-style: none; padding: 0;
  li {
    background: white;
    padding: 10px 20px;
    border-top: 1px solid #e8e8e8;
    border-radius: 4px;
    .avatar {
      display: block;
      float: left;
      height: 100%;
      margin-right: 10px;
      margin-top: 10px;
    }
    .text {

    margin-left: 60px;
    span {
      line-height: 1;
    }
    .user a, .timestamp, .delete {
      padding-top: 0;
      color: #A7A7A7;
      font-size: 0.7em;
    }
    .user a, .content a, .delete a {
      &:hover {
        text-decoration: none;
        color: $link-hovered;
      }
    }
    .content a {
      display: block;
      font-family: 'Georgia', serif;
      color: black;

      &:hover {
        text-decoration: none;
        color: $link-hovered;
      }
    }
  }
}
  .delete {
    display: block;
    float: right;
    a {
      color: #A7A7A7;
      font-size: 0.7em;
    }
  }
}

aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  span.image {
    margin-top: 10px;
    input {
      border: 0;
    }
  }



