$btn-color: #676756;
$paginate-generalBackground: #DEDECD66;

  .pagination {
  background: $btn-color;
  border: 1px solid $btn-color;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: $paginate-generalBackground;
    border: 1px solid $btn-color; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: $paginate-generalBackground;
    color:  $btn-color;
    border: 2px solid  $paginate-generalBackground; }
  .pagination a {
    text-decoration: none;
    color: $paginate-generalBackground;
    border: 1px solid $btn-color; }
    .pagination a:hover, .pagination a:focus {
      color: white;
      border-color: $btn-color; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }
