// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-check {
  padding-left: 0.25em;
}
.form-check-label {
  margin-left: 1.25em;
}
a.link-hover {
  color: $gray-dark;
  &:hover {
    color: $link-hovered;
    text-decoration: none;
  }
}
label {
  margin-bottom: 0.75em;
}
